body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

.vertical-nav {
    width: 200px;
    background-color: #000000;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: moving;
    height: 100%;
    overflow: auto;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 0;
}

.vertical-nav ul li {
    margin-bottom: 1rem;
}

.vertical-nav ul li a {
    text-decoration: none;
    color: #ddd;
    display: block;
    padding: 0.5rem;
    border-radius: 4px;
}

.vertical-nav ul li a:hover {
    background-color: #ddd;
}

main {
    margin-left: 220px; /* Adjust margin to account for the width of the vertical nav */
    padding: 2rem;
    flex: 1;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
}

form input, form textarea, form select {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    padding: 0.5rem 1rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #ff0000;
}

footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 20%;
}

