body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

.vertical-nav {
    width: 200px;
    background-color: rgba(2, 2, 2, 0.9);
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: moving;
    height: 100%;
    overflow: auto;
}

.vertical-nav ul {
    list-style-type: none;
    padding: 0;
}

.vertical-nav ul li {
    margin-bottom: 1rem;
}

.vertical-nav ul li a {
    text-decoration: none;
    color: #ddd;
    display: inline;
    padding: 0.5rem;
    border-radius: 4px;
}

.vertical-nav ul li a:hover {
    background-color: #ddd;
}

main {
    margin-left: 200px; /* Adjust margin to account for the width of the vertical nav */
    padding: 2rem;
    flex: 1;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.product {
    flex: 1 1 300px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background-color: #f9f9f9;
}

.product img {
    max-width: 100%;
    height: auto;
    display: inline;
    margin: 0 auto 1rem;
    border: 2px solid #000000;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cart { 
	margin: 2rem 0; 
} 

.cart-item { 
	border-bottom: 1px solid #ff0000;
	padding: 1rem 0; 
} 

.cart-item img { 
	max-width: 100px; 
	height: auto; 
	display: block; 
	margin: 0 auto; 
} 

.total { 
	text-align: right; 
	margin-top: 1rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

footer {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100;
}

